.menu ul:after {
	clear: both;
	content: "";
	display: block;
}
.menu > ul > li {
	float: left;
	width: 50%;
	border-right: 1px solid #3366cc;
}
.menu > ul > li:first-child {
	border-left: 1px solid #3366cc;
}
.menu > ul li > a {
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	font-size: 21px;
	color:#3366cc;
}
.menu > ul li > a:hover {
	background-color: #3366cc;
	color:white;
	cursor: pointer;
}